@model ErrorViewModel
@{
    ViewData["Title"] = Model.Title;
}

@{
    if (Model == null)
    {
        <div class="text-center">
            <h1 class="display-4">Ops ocorreu um erro inesperado !</h1>
        </div>
    }
    else
    {
        <div class="text-center bg-secondary text-light px-2 py-2 rounded-pill ">
            <h1 class="display-4"> @Html.Raw(Model.Title) </h1>
        </div>
        <div class="text-center">
            <h1 class="display-5"> @Html.Raw(Model.Message) </h1>
        </div>
    }
}