@using mvc.Extensions

<div class="text-center">
    <h1 class="display-4">YES, You can Delete !</h1>
</div>



@{
    if (this.IfClaim("Home", "Delete"))
    {
        <div>Visualizado somente com permissão para deletar</div>
    }
}